<div class="container">
    <div class="logo-container">
        <img class="img-logo" src="../../../assets/imgs/logo.png"/>
    </div>
    <div class="search-container">
        <app-artist-search></app-artist-search>
    </div>
</div>