.container {
    display: flex;
    background-color: lightpink;
    align-items: center;
}

.logo-container, .search-container {
    margin-left: 45px;
}

.img-logo {
    width: 45px;
    height: auto;
}