<div class="container">
    <div *ngIf="artist" class="basic-detail-container">
        <a class="artist-hyperlink" [routerLink]="['/artist-detail', artist.name]">
            <div class="image-container">
                <img class="artist-image" src="{{ artist.picture }}"/>
            </div>
            <div class="text-container">
                <h2 *ngIf="artist && !tracks" class="artist-name">{{ artist.name }}</h2>
                <div class="fan-album-count-container">
                    <p [ngClass]="{'fan-count-details': tracks}"><span class="fan-count">{{ artist.fanCount }}</span> fans</p>
                    <p *ngIf="artist && !tracks"><span class="album-count">{{ artist.albumCount }}</span> albums</p>
                </div>
            </div>
        </a>
    </div>
    <div *ngIf="tracks" class="track-list-container">
        <div *ngFor="let track of tracks" class="single-track-container">
            <p>{{ track.title }}</p>
            <p>{{ track.duration }}</p>
        </div>
    </div>
    <div *ngIf="albums" class="album-list-container">
        <div *ngFor="let album of albums" class="single-album-container">
            <img class="album-image" src="{{ album.cover }}"/>
            <h4 class="album-title">{{ album.title }}</h4>
        </div>
    </div>
</div>